<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -بامداد سیم</title>
    @*@Styles.Render("~/Content/css")*
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <link href="~/Content/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />


</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            @Html.ActionLink("پنل مدیریتی", "Index", "Default", new { area = "Admin" }, new { @class = "navbar-brand" })

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active" style="margin-right:50px;"><a href=""> خوش آمدید  @User.Identity.Name</a></li>

                    <li class="nav-item active" style="margin-right:15px;"><a href="/Account/Logout">خروج</a></li>

                }
                else
                {
                    <li><a href="/Account/Login">ورود</a></li>
                    <li><a href="/Account/Register">ثبت تام</a></li>

                }
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("تعویض تعرفه", "Index", "Tariff")</a></li>
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("سیمکارت ها", "Index", "Default")</a></li>
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("کاربران", "Index", "Users")</a></li>
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("حساب ها", "Index", "AdminAccount")</a></li>
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("شارژ ها", "Index", "Charges")</a></li>
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("تماس ها", "Index", "Call")</a></li>
                <li class="nav-item active" style="margin-right:50px;"> @Html.ActionLink("پیام ها", "Index", "Sms")</a></li>



            </ul>
        </div>
    </nav>


    <div class="container body-content">
        </a>       @RenderBody()
        <hr />
        <footer>
            <p>&copy;  تمامی حقوق متعلق به بامداد سیم میباشد</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.4.1.min.js"></script> 
    <script src="~/Scripts/jalaali.js"></script>
    <script src="~/Scripts/jquery.Bootstrap-PersianDateTimePicker.js"></script>
</body>
</html>

